*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5 ,h6{
    text-transform: capitalize;
}
.nav{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2rem;
    padding: 2rem ;
}
.link{
    text-decoration: none;
    color: black;
    transition: all .2s ease-out;
    font-size: 20px;
}
.link:hover{
    color:rgb(199, 190, 160);
}
.homeContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    color: White;
    font-size: 50px;
    text-transform: capitalize;
}
.pageContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.loading-error{
  position: absolute;
  top: 50%;
  left: 50%;
}

.productsContainer{
    background: rgba(222, 222, 222, .4);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 98%;
    gap: 1rem;
}
.product img{
    width: 100%;
    height: 50%;
    object-fit: contain;
}
.product h3{
    padding-top: 1rem;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
}
.product p{
    position: absolute;
    bottom: 1rem;
    color: green;
}
.productLink{
    width: 250px;
    height: 350px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2 ease-in-out;
    padding: 2rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    margin: .5rem;
}
.productLink:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: 1px solid gray;
    z-index: 100;
}

.productContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 2rem;
    gap: 2rem;
    height: 100vh;
}

.productContainer .image{
    width: 45%;
}
.productContainer img{
    width: 100%;
}
.productContainer .text{
    width: 55%;
}
.text h2, .text p, .text h4{
    margin-bottom: 1rem;
}
.text h4{
    font-size: 20px;
}
.btnContainer{
    display: flex;
    gap: 2rem;
}
.linkBtn{
    text-decoration: none;
    padding: .4rem 1rem;
    background: rgb(242, 244, 242);
    border: 1px solid black;
    font-size: 16px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
.linkBtn .link{
    font-size: 16px;
    color: inherit;
}

.linkBtn:hover{
    cursor: pointer;
    background: rgb(220, 225, 220);
    color: blue;
}

.cartContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.empty h5{
    font-size: 20px;
    margin-bottom: .5rem;
}
.empty button .link{
    font-size: 16px;
}
.empty button{
    margin-top: 1rem;
}
.cartContainer h4{
    margin-bottom: 4rem;
    font-size: 20px;
}
.cartItems{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.innerContainer{
    width: 90%;
}
.cartItem{
    height: 220px;
    display: flex;
    border-bottom: 1px solid gray;
}

.cartItem img{
    max-height: 200px;
    width: 200px;
    object-fit: contain;
}

.itemInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
}
.itemInfo h5{
    font-size: 16px;
    margin-bottom: .5rem;
}
.itemInfo input{
    margin: .5rem 0 1rem 0;
}
.itemInfo button{
    padding: .3rem .6rem;
}
.itemInfo button:hover{
    cursor: pointer;
}

.cartBtns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto;
    gap: 1rem;
    width: 40%;
}
.cartBtns p{
    width: 100%;
    font-size: 18px;
    text-align: center;
}
.cartBtns button{
    width: 40%;
    padding: .3rem .6rem;
}
.cartBtns .link{
    font-size: inherit;
    color: inherit;
}
.checkoutContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    margin: auto;
}
.checkoutContainer h1{
    width: 100%;
    text-align: center;
}
.checkoutContainer h3{
    width: 100%;
}
.orderOverview{
    width: 30%;
    margin: auto;
    padding: 2rem;
    border: 1px solid blue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.orderOverview .item{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    border-bottom: 2px dotted gray;
    padding-bottom: 1rem;
}
.orderOverview .item img{
    max-width: 60px;
}
.orderOverview .item h4{
    width: 60%;
}

.shipping{
    width: 90%;
    margin: auto;
    padding: 2rem;
    border: 1px solid blue;
    border-radius: 5px;
}
.shipping form{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
}
form div{
    width: 45%;
    display: flex;
    flex-direction: column;
}
form input{
    padding: .4rem .8rem;
    margin-top: .5rem;
}
.payment form{
    width: 90%;
    margin: auto;
    padding: 2rem;
    border: 1px solid blue;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}
.payment form div{
    width: 30%;
}
.other{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.checkoutBtn{
    width: 100%;
    background: #ddd;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.checkoutBtn button{
    padding: .3rem .8rem;
}
.checkoutBtn button .link{
    color: inherit;
    transition: all .2s ease-in-out;
}
.checkoutBtn button .link:hover{
    color: blue;
}